a {
    text-decoration: none;
}
h1 {
    text-align: center; color: red;
    
}   
    
h3 {border-right: solid gray 1px;
        width: 110px;
        margin: 0;
        padding: 20px;

}

body {
    margin: 0;
}
#시바{text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    margin: 0;
    }
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
#메인{
    padding: 20px;
}
@media(max-width:500px){
    #grid{
    display: block;}
    h3{
        border-right: none;
    }
    #메인{
        border-top: solid 1px gray;
    }
}
#라스트{
    padding: 20px;
}